# FastAPI
fastapi
uvicorn
python-dotenv

# Pydantic
pydantic
pydantic-settings>=2.0.0
typing_extensions

# LangChain ecosystem:
langchain-core
langchain-community
langchain
langchain-openai
langgraph
langgraph-checkpoint-postgres

# LLM
openai
transformers

# Database
psycopg2-binary
sqlalchemy
asyncpg

# HTTP
httpx
requests
aiohttp

# Testing
pytest
pytest-asyncio
pytest-mock

# Development
ipython